ul{list-style-type: none;}
a:link, a:visited, a:hover, a:active{text-decoration-line:none; color:black;}

#wrap{
    width:1500px;
    margin:0 auto;
    padding-top:20px
}

#snb{
    width:250px;
    float:left;
    letter-spacing:-2px;
}
#snb ul{
    list-style-type: none;
    border:rgb(230, 230, 230) solid 1px;
    border-bottom:none;
    padding-left:0px;
    letter-spacing:-2px;
}
#snb ul a:link li,#snb ul a:visited li,#snb ul a:hover li,#snb ul a:active li{
    font-size:15px;
    padding:15px 15px 15px 15px;
    border-bottom:rgb(230, 230, 230) solid 1px;
}
#now{color:rgb(3, 140, 232); font-weight:bold;}
#snb ul a:hover li,#snb ul a:active li {color:rgb(3, 140, 232); font-weight:bold;}

#contents {position:relative;  overflow: hidden; min-height: 850px;}
#contents .sub { margin-left: 15px }
.tit{padding-top: 10px; font-weight: 900; font-size: 30px; color: #333; text-align: center; letter-spacing: -2.5px;}	
.tb_tit{font-size: 20px; font-weight:bold; color: #333; letter-spacing: -1px; padding:14px 0 16px; line-height:29px;}



.no_data{
    text-align: center;
}
table thead tr{
    height: 40px;
}
table thead tr th{
    display: table-cell;
    font-size:13px;
    text-align: left;
    color:#333;
    font-weight:bold;
    border-top:rgb(3, 140, 232) solid 2px;
    border-bottom: black solid 1px;
    padding: 0 10px;
}

table tbody tr {
	cursor:pointer;	
	height:35px;
}

table tbody tr td{
    font-size:13px;
    color:#727272;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
	padding: 0 10px;
	border-bottom:rgb(226, 226, 226) solid 1px;
}

#page_div{
    margin-top: 60px;
    text-align: center;
}

#page_select{margin:20px auto 0 auto;text-align:center;}
#page_select a{display:inline-block;width:34px;height:34px;border:1px solid #ddd;border-left:0;vertical-align:top}
#page_select a:first-child{border-left:1px solid #ddd}
#page_select a.number{font-weight:700;color:#333;line-height:34px}
#page_select a.number:hover,#page_select a.number.__active{background-color:#f7f7f7;color:#5f0080}
#page_select #now_num{background-color:#f7f7f7;color:#5f0080}
#page_select a.first,#page_select a.prev,#page_select a.next,#page_select a.last{background-repeat:no-repeat;background-position:50% 50%;text-indent:-9999px}
#page_select a.first{background-image:url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png)}
#page_select a.prev{background-image:url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png)}
#page_select a.next{background-image:url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png)} 
#page_select a.last{background-image:url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-last.png)}
#page_select{font-size:0}  
#page_select a:hover{background-color:#f7f7f7}  
#page_select a,  
#page_select strong{font-weight:700;font-size:12px}  
#page_select a{cursor:pointer}  
#page_select a:first-child{border-left:0}  
#page_select a.first:first-child{border-left:1px solid #ddd}


    
    

