 #contents {position:relative;  overflow: hidden; min-height: 850px;}
 #contents .sub { width:780px; margin: 0 auto 50px; }
 		
 .tit{padding-top: 10px; font-weight: 900; font-size: 30px; color: #333; text-align: center; letter-spacing: -2.5px;}
 		
 .tb_tit{font-size: 20px; font-weight:bold; color: #333; letter-spacing: -1px; padding:14px 0 16px; line-height:29px}
 		
 .mem_table {border-top:1px solid #333;}
	.mem_table th { font-size:13px; color: #444; font-weight:600; padding : 10px 0 10px 20px; line-height:22px; letter-spacing:-0.5px;}
	.mem_table td { font-size:13px; padding : 10px 0 10px 20px; line-height:22px; letter-spacing:-0.5px; border-bottom:1px solid #dcdcdc;}
	.mem_table .txtb {font-weight:bold}

.cashbox_btn1{cursor:pointer; margin:20px 0 10px 0; float:right; color: #fff; font-size: 18px; font-weight: bold; background-color: rgb(3, 140, 232); text-align: center; width: 100%; padding: 10px 0 10px 0;}
.btn{width: 80px; height: 40px; border: 1px solid rgb(3, 140, 232); background: rgb(3, 140, 232); color: #fff; letter-spacing:-1px; cursor: pointer;}

    
