
    #wrap{width: 1050px; margin: 0 auto; min-height: 20vh; margin-bottom: 200px;}
    .container{width: 800px; margin: 0 auto;}

    .tit{padding-top: 10px; font-weight: 900; font-size: 30px; color: #333; text-align: center; letter-spacing: -2.5px;}
    .sub{font-size: 12px; color: #666; line-height: 17px; text-align: right;}
    .ico{padding-right: 2px; color: #ee6a7b;}

    .tbl_comm{width: 100%; border-top: 2px solid #333; }
    .tbl_comm th{width: 159px; font-size: 14px; text-align: left; letter-spacing:-1px;}
    .tbl_comm td{padding: 10px 0 10px;}
    .tbl_comm .inputText{width: 500px; height: 44px; border: 1px solid #ccc; color: #333; font-weight: 200; letter-spacing:-1px}
    .tbl_comm .review_detail{ border: 1px solid #ccc; color: #333; font-weight: 200; letter-spacing:-1px; resize:none;}
    .btn{width: 250px; padding: 0 14px; height: 46px; border: 1px solid rgb(3, 140, 232); background: rgb(3, 140, 232); color: #fff; letter-spacing:-1px; cursor: pointer; text-align: center;}

