<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.prg//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">

<!-- 게시글 쓰기 -->
	<insert id="insertBoard" parameterType="Map">
		<selectKey keyProperty="bd_id" order="BEFORE" resultType="_int" >
			select board_seq.nextval from dual
		</selectKey>
		<choose>
			<when test="group_num > 0"> 
				<choose>
					<when test="bd_category2.equals('contact') and admin==0">
					<![CDATA[insert into board(bd_id, bd_num, user_id, title, content, group_num, bd_category1, bd_category2, file1, step, indent, status)
				 	values(#{bd_id}, ${bd_category2}_seq.nextval, #{user_id}, #{title}, #{content}, #{group_num}, #{bd_category1}, #{bd_category2}, #{file1}, #{step}, #{indent}, '[답변대기]')]]>
					</when>
					<otherwise>
					<![CDATA[insert into board(bd_id, bd_num, user_id, title, content, group_num, bd_category1, bd_category2, file1, step, indent)
				 	values(#{bd_id}, ${bd_category2}_seq.nextval, #{user_id}, #{title}, #{content}, #{group_num}, #{bd_category1}, #{bd_category2}, #{file1}, #{step}, #{indent})]]>
					</otherwise>
				</choose>	
			</when>
			<otherwise>
				<choose>
					<when test="bd_category2.equals('contact') and admin== 0">
					<![CDATA[insert into board(bd_id, bd_num, user_id, title, content, group_num, bd_category1, bd_category2, file1, step, indent, status)
					 values(#{bd_id}, ${bd_category2}_seq.nextval, #{user_id}, #{title}, #{content}, ${bd_category2}_group_seq.nextval, #{bd_category1}, #{bd_category2}, #{file1}, #{step}, #{indent}, '[답변대기]')]]>
					</when>
					<otherwise>
					<![CDATA[insert into board(bd_id, bd_num, user_id, title, content, group_num, bd_category1, bd_category2, file1, step, indent)
					 values(#{bd_id}, ${bd_category2}_seq.nextval, #{user_id}, #{title}, #{content}, ${bd_category2}_group_seq.nextval, #{bd_category1}, #{bd_category2}, #{file1}, #{step}, #{indent})]]>
					</otherwise>
				</choose>	
			</otherwise>
		</choose>	
	</insert>

	<insert id="insertBoardHit" parameterType="Map">
		<![CDATA[insert into BOARDHIT(bd_id, ip) values(#{bd_id}, #{ip})]]>
	</insert>

<!-- 게시글 상세보기 -->	
	<select id="readBoard" resultType="org.zerock.domain.BoardVO">
		<![CDATA[select * from board where bd_id = #{bd_id}]]>
	</select>

<!--  페이징  -->
	<select id="paging" resultType="_int">	
		<choose>
 			<when test="bd_category2.equals('contact') and admin==1">
				select count(*) from board where bd_category2 = #{bd_category2} and (user_id Like #{serName} or Title Like #{serTitle} or Content Like #{serContent})
			</when> 
			<when test="bd_category2.equals('contact')">
				select count(*) from board where bd_category2 = #{bd_category2} and user_id = #{id} and(user_id Like #{serName} or Title Like #{serTitle} or Content Like #{serContent})
			</when>
			<otherwise>
				select count(*) from board where bd_category2 = #{bd_category2} and (user_id Like #{serName} or Title Like #{serTitle} or Content Like #{serContent})
			</otherwise>
		</choose>
	</select>

<!-- 게시글 리스트 -->	
	<select id="getBoardList" resultType="org.zerock.domain.BoardVO">
		<choose>
		 	<when test="bd_category2.equals('contact') and admin==1">
				<![CDATA[select bd_num, user_id, title, content, writedate, reply, file1, group_num, step, indent, hit, bd_category1, bd_category2, bd_id, substr(updatedate,1,12) as updatedate,status 
						from (select ROWNUM as rnum, A.* from (select * from board where bd_category2= #{bd_category2} order by group_num desc, step, indent)A) 
						where rnum >= #{startPage} and rnum <= #{endPage} and (user_id Like #{serName} or Title Like #{serTitle} or Content Like #{serContent})]]>
			</when> 
			<when test="bd_category2.equals('contact')">
				<![CDATA[select bd_num, user_id, title, content, writedate, reply, file1, group_num, step, indent, hit, bd_category1, bd_category2, bd_id, substr(updatedate,1,12) as updatedate,status
						 from (select ROWNUM as rnum, A.* from (select * from board where bd_category2= #{bd_category2} and user_id =#{id} order by group_num desc, step, indent)A) 
						 where rnum >= #{startPage} and rnum <= #{endPage} and (user_id Like #{serName} or Title Like #{serTitle} or Content Like #{serContent})]]>
			</when>
			<otherwise>
				<![CDATA[select bd_num, user_id, title, content, writedate, reply, file1, group_num, step, indent, hit, bd_category1, bd_category2, bd_id, substr(updatedate,1,12) as updatedate
						 from (select ROWNUM as rnum, A.* from (select * from board where bd_category2= #{bd_category2} order by group_num desc, step, indent)A) 
						 where rnum >= #{startPage} and rnum <= #{endPage} and (user_id Like #{serName} or Title Like #{serTitle} or Content Like #{serContent})]]>	
			</otherwise>
		</choose>
			
	</select>
	
	<select id="boardHitCheck" resultType="int" parameterType="Map">
		<![CDATA[select count(*) from BOARDHIT where bd_id=#{bd_id} and ip=#{ip}]]>
	</select>
	
<!-- 게시글 수정 -->	
	<update id="updateBoard">
		update board set title= #{title}, content=#{content}, bd_category1=#{bd_category1}, file1=#{file1}, updatedate=to_char(sysdate,'yyyy. mm. dd. PM hh12:mi:ss') where bd_id=#{bd_id}
	</update>
<!-- 답글 순서변경 -->
	<update id="increseStep">
		<![CDATA[update board set step = step+1 where group_num= #{group_num} and step >= #{step} and bd_id != #{bd_id}]]>
	</update>
<!-- 조회수 증가 -->
	<update id="increseHit">
		update board set hit=hit+1 where bd_id=#{bd_id}
	</update>
<!-- 댓글 개수 증가 -->
	<update id="increseReply">
		update board set reply=reply+1 where bd_id=#{bd_id}
	</update>
	<update id="minusReply">
		update board set reply=reply-1 where bd_id=#{bd_id}
	</update>
	
	<update id="changeBoardStatus">
		update board set status=#{status} where bd_id=#{bd_id}
	</update>
<!-- 게시글 삭제 -->
	<delete id="deleteBoard">
		delete board where bd_id = #{bd_id}
	</delete>
	
</mapper>
