<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.prg//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.CartMapper">
	<!-- 장바구니 물품 중복 체크 -->
	<select id="pdChk" resultType="int">
		select count(pd_num) from cart where user_id=#{user_id} and pd_num=#{pd_num}
	</select>
	
	<!-- 장바구니 추가 -->
	<insert id="cart_add">
		insert into cart(cart_num, pd_num, title, price, amount, user_id, file1)
	 	values((select nextval('cart_seq') FROM DUAL),#{pd_num},#{title},#{price},#{amount},#{user_id},#{file1})
	</insert>
	
	<!-- 장바구니 리스트 -->
	<select id="cart_list" resultType="org.zerock.domain.CartVO">
		select * from cart where user_id=#{user_id}
	</select>
	
	<!-- 수량업 -->	
	<update id="cartUp">
		update cart set amount=amount+1 where cart_num=#{cart_num} and user_id=#{user_id}
	</update>
	
	<!-- 수량 다운 -->	
	<update id="cartDown">
		update cart set amount=amount-1 where cart_num=#{cart_num} and user_id=#{user_id}
	</update>
	
	<!-- 특정상품삭제 -->	
	<delete id="cartOneDel">
		delete from cart where cart_num=#{cart_num} and user_id=#{user_id}
	</delete>
	
	<!-- 전체삭제 -->	
	<delete id="cartAllDel">
		delete from cart where user_id=#{user_id}
	</delete>
	

	<!-- [주문]order1 테이블 insert 후 od_num 값 반환 -->
	<insert id="insertOd" parameterType="org.zerock.domain.Order1VO">	
		insert into order1(od_num,user_id,TOTALPRICE)
	 	values((select nextval('ORDER1_SEQ') FROM DUAL),#{user_id},#{totalprice})		
	 		
	 	<!-- od_num 얻어오기 -->	
	 	<selectKey keyProperty="od_num" order="AFTER" resultType="int">
			SELECT od_num FROM order1 WHERE user_id=#{user_id} and @ROWNUM:=@ROWNUM+1=1 order by od_num DESC
		</selectKey>	
	</insert>
	
	<!-- [주문]cart 테이블 참조하여 order_detail 테이블로 insert -->
	<insert id="insertOdt">
		INSERT into order_detail (odt_num, od_num, pd_num, user_id, amount, price, title) 
		SELECT (select nextval('ORDER_detail_SEQ') FROM DUAL), #{od_num}, pd_num , user_id , amount, price, title  FROM cart
		WHERE user_id = #{user_id}
	</insert>
</mapper>