<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.prg//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ProductMapper">

<!-- <select id="getList" resultType="org.zerock.domain.BoardVO">
	<![CDATA[select * from tbl_board where bno > 0]]>
	
	</select> -->	
	<select id="paging" resultType="_int">	
		<![CDATA[select count(*) from product where REGEXP_LIKE(category1, #{criCategory1}) and REGEXP_LIKE(category2, #{criCategory2}) and REGEXP_LIKE(Title, #{criSerTitle}) order by ${order} desc]]>
	</select>
	
	<select id="getList" resultType="org.zerock.domain.ProductVO">
		<![CDATA[select * from (select ROWNUM as rnum,  A.title, A.price, A.category1, A.file1, A.discount, A.pd_num, A.stock from (select * from product where REGEXP_LIKE(category1, #{criCategory1}) and REGEXP_LIKE(category2, #{criCategory2}) and REGEXP_LIKE(Title, #{criSerTitle}) order by ${order} desc)A) where rnum >=#{startPage} and rnum <=#{endPage} ]]>		
	</select>
	
	<select id="getIndexList" resultType="org.zerock.domain.ProductVO">
		<![CDATA[select * from (select ROWNUM as rnum, A.title, A.price, A.category1, A.file1, A.discount, A.pd_num, A.stock from (select * from product where REGEXP_LIKE(category1, #{criCategory1}) and REGEXP_LIKE(category2, #{criCategory2}) order by salescount)A) where rnum >=#{startPage} and rnum <= #{endPage} ]]>		
	</select>
	
	<insert id="productRegist">
		<selectKey keyProperty="pd_num" order="BEFORE" resultType="_int">
			select product_seq.nextval from dual
		</selectKey>
		<![CDATA[insert into Product(pd_num, category1, category2, title, price, content, file1, stock, discount)
				 values(#{pd_num}, #{category1, jdbcType=VARCHAR}, #{category2}, #{title}, #{price}, #{content}, #{file1}, #{stock}, #{discount})]]>
	</insert>
	

	<select id="productDetail" resultType="org.zerock.domain.ProductVO">
		<![CDATA[select * from Product where pd_num = #{pd_num}]]>
	</select>
	
	<delete id="productDelete">
		delete product where pd_num = #{pd_num}
	</delete>
	
	<update id="productUpdate">
		<![CDATA[update product set category1=#{category1}, category2=#{category2}, title=#{title}, price=#{price},
		 		content=#{content}, file1=#{file1}, stock=#{stock}, discount=#{stock} where pd_num=#{pd_num}]]>
	</update>
	<update id="salesCountPlus">
			update product set salescount = salescount+#{cart_amount}, stock = stock-#{cart_amount} where pd_num = #{pd_num}
	</update>
	
	<update id="updateCount">
		update board set hit=hit+1 where bd_id=#{bd_id}
	</update>
	
		
	<select id="stockChk" resultType="int">
		<![CDATA[ select count(*) as cnt from product where pd_num=#{pd_num} and stock>= #{cart_amount} ]]>
	</select>
	
</mapper>
