<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.prg//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ReplyMapper">

<!-- <select id="getList" resultType="org.zerock.domain.BoardVO">
	<![CDATA[select * from tbl_board where bno > 0]]>
	
	</select> -->	
	<select id="getReplyList" resultType="org.zerock.domain.ReplyVO">	
		<![CDATA[select * from reply where bd_id = #{bd_id} order by writedate]]>
	</select>
	
	<insert id="insertReply">
		<![CDATA[insert into reply(re_num, bd_id, user_id, comment1)
				values(nextval(re_seq), #{bd_id}, #{user_id}, #{comment1})]]>
	</insert>
	
	<update id="updateReply">
		<![CDATA[update reply set comment1 = #{comment1}, updatedate = concat('(수정됨)',date_format(sysdate(),'%Y. %m. %d. %T')) where re_num = #{re_num}]]>
	</update>

	<delete id="deleteReply">
		<![CDATA[delete reply where re_num = #{re_num}]]>
	</delete>
	
	<delete id="deleteReplyAll">
		<![CDATA[delete reply where bd_id = #{bd_id}]]>
	</delete>

</mapper>
