#contents {position:relative;  overflow: hidden; min-height: 850px;}
#contents .sub { width:780px; margin: 0 auto 50px; }
.tit{padding-top: 10px; font-weight: 900; font-size: 30px; color: #333; text-align: center; letter-spacing: -2.5px;}	
.cashbox_btn1{cursor:pointer; margin:20px 0 10px 0; float:right; color: #fff; font-size: 18px; font-weight: bold; background-color: rgb(3, 140, 232); text-align: center; width: 100%; padding: 10px 0 10px 0;}
.btn{width: 80px; height: 40px; border: 1px solid rgb(3, 140, 232); background: rgb(3, 140, 232); color: #fff; letter-spacing:-1px; cursor: pointer;}

ul{list-style:none;}
.list_oerder{padding:0; margin: 0}
.list_oerder .date{padding-top:20px; font-size:20px; letter-spacing:-0.8px; line-height:24px; font-weight:700; color:#666}
.list_oerder .order_goods {position: relative; padding: 0 20px; border:1px solid #dddfe1}
.list_oerder .name {padding: 20px 0 13px; border-bottom:1px solid #dddfe1; font-size:16px; line-height:24px; font-weight:700; color:#000; cursor:pointer}
.list_oerder .order_info{padding: 14px 0 20px; overflow:hidden; margin:0; box-sizing:border-box}

.list_oerder .thumb{float:left; margin-right: 20px}
.list_oerder .desc{overflow:hidden; padding-top:1px}
.reviewdiv{display: table; position: absolute; right: 37px; bottom: 0; height: 99px; vertical-align: middle;}
 .list_oerder .reviewdiv .btn{width: 100px; height: 40px; border: 1px solid rgb(3, 140, 232); background: rgb(3, 140, 232); color: #fff; letter-spacing:-1px; cursor: pointer;}

.desc dt {float:left; padding-right:15px; font-size:12px; color:#000; line-height:20px;}
.desc dd {font-size:14px; font-weight:700; color:#000}

.tb_tit{font-size: 20px; font-weight:bold; color: #333; letter-spacing: -1px; padding:14px 0 16px; line-height:29px;}
 		
.mem_table th { font-size:13px; color: #444; font-weight:600; padding : 10px 0 10px 20px; line-height:22px; letter-spacing:-0.5px;}
.mem_table td { font-size:13px; padding : 10px 10px 10px 20px; line-height:22px; letter-spacing:-0.5px; border-bottom:1px solid #dcdcdc;}
.mem_table .txtb {font-weight:bold}

.mem_table .replytr { background:#F8F8F8;}
.mem_table .replytr .replytd{ padding-left:32px;}
.mem_table .replytr .fontred{ padding-left:32px; color:red; }




    
    

